<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Successful Payment</title>
</head>
<style>
    h1{
        font-family: "Helvetica Neue";
        letter-spacing: 0.4em;
        font-size: 3em;
        margin-left: 100px;
    }
    h2{
        font-family: "Helvetica Neue";
        letter-spacing: 0.2em;
        font-size: 1.5em;
        font-weight: 400;
        margin-top: 100px;
        margin-left: 100px;
    }
</style>
<body onclick="window.open('front.html', '_self');">
<h1 style="margin-top: 150px;">PAYMENT</h1>
<h1>SUCCESSFUL</h1>
<h2>Please remember your order number</h2>
<img src="./img/ok.png"  style="left:700px; top:80px; position:absolute; width: 420px; height:420px;"  />
<h2 style="color:#ffc107; margin-left:0; text-align: center">Come to the register to pick up</h2>
</body>
</html>